// -------------------------------------------------------
// App variables

$primary-color: $app-green-1;
$accent-color: $app-white;
$secondary-color: $app-black;
$info-color: #03a9f4;
$success-color: #4caf50;
$warning-color: #ff9800;
$danger-color: #f44336;
$gray-color: $app-gray-2;

// -------------------------------------------------------
// Root variables

:root {
  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --secondary-color: #{$secondary-color};
  --info-color: #{$info-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --danger-color: #{$danger-color};
  --gray-color: #{$gray-color};

  --padding-s: 10px;
  --padding-m: 15px;
  --padding-l: 20px;

  --full-width: 100%;

  --main-view-pt: 4.25rem;
}

// -------------------------------------------------------
// Bootstrap variables

//== Colors
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
  light: $gray-color,
  dark: $gray-color
);

//== Typography
$font-size-base: 1rem;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

//== Navbar
$navbar-padding-y: 0.75rem;

// -------------------------------------------------------
// Common style

.full-width-message {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5 * $font-size-base;
  text-align: center;
  font-weight: bold;
}

@media not (prefers-reduced-motion) {
  app-root::after {
    content: "";
    height: 0.3rem;
    background: $primary-color;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    animation: grow-progress linear;
    animation-timeline: scroll();
  }

  @keyframes grow-progress {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
}
